@font-face {
    font-family: outfit;
    src: url(./fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

* {
margin: 0;
padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
}
.card_container{
    
    justify-content: center;
    background-color: white;
    max-width: 300px;
    border-radius: 15px;
    padding: 10px;
}

.card_img{
height: auto;
width: 100%;
border-radius: 15px;
}

.card_text{
    /* width: 15vw; */
    text-align: center;
    font-family: "outfit", sans-serif;
    margin: 1.5rem 0.5rem ;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    
}

p{
margin: 1rem 0.8rem 0;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

